.item-1 {
  background-color: black;
  color: #FFFFFF;
}
.item-2 {
  background-color: white;
  color: #000;
}
.item-3 {
  background-color: red;
  color: white;
}
.item-4 {
  background-color: gold;
  color: #000;
}
