.parent {
  color: #118000;
}
.parent .child {
  color: #ff0016;
}
div {
  background-color: #4e73ff;
}
div > h1 {
  background-color: #59ff62;
}
div + h1 {
  background-color: #ff879e;
}
div:hover {
  background-color: #ff001e;
}
